.move__container {
    display: flex;
    justify-content: space-between;
    width: 280px;
  }

  .moves__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .moves__section h5 {
    text-transform: capitalize;
    color: #9c9090;
    font-weight: 700;
  }